{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<form action="{% url 'set_language' %}" method="post" class="d-inline">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path }}" />
    <select name="language" class="form-select form-select-sm" onchange="this.form.submit()">
        <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
        <option value="sw" {% if LANGUAGE_CODE == 'sw' %}selected{% endif %}>Kiswahili</option>
    </select>
</form>